<!doctype html>
<html lang="it">
<head>
  <meta charset="utf-8">
  
  <title> Biologia DB </title>
  <!--[if lt IE 9]> 
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
  <![endif]-->
  <link rel="stylesheet" href="/css/reset.css" media="screen">
  <link rel="stylesheet" href="/css/monitor.css" media="screen">
  <link rel="stylesheet" href="/css/phone_landscape.css"
        media="screen and (max-device-width: 480px) and (orientation: landscape)">
  <link rel="stylesheet" type="text/css" href="css/table.css" />
  
  <!--link rel="stylesheet" href="phone_portrait.css" 
        media="screen and (max-device-width: 480px) and (orientation: portrait)"-->
        
</head>

<body>
  <header>
    <hgroup>
      <h1>Danio Rerio DB</h1>
      <h2>Powered by MongoDB</h2>
    </hgroup>
    <nav>
      <h1>Surf:</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <!--li><a href="/about">Gli autori</a></li-->
        <li><a class="button-a" href="https://github.com/federico-rosatelli/biologia">Github Project</a></li>
        <li><a class="button-a" href="https://drive.google.com/drive/folders/19RXRHEb-7-O9gaUjXz5ho-Q2_HsbKlEW">Archive</a></li>
      </ul>
    </nav>
  </header>
  <section>
    <form>
      <label for="taxon">Select Type of Search:</label><br>
      <select name="filter" id="taxon">
        <option value="scientific_name">Scientific Name</option>
        <option value="taxid">Taxonomic Id</option>
      </select><br><br>
      <input type="search" name="taxonomy" placeholder="Search for"/>
      <button type="submit"> Search </button>
    </form>
  </section>
  <section>
    <form>
      <label for="ID">Select an ID:</label><br>
      <select name="id" id="sequence">
        <option value="any">Any</option>
        <option value="genome">Locus</option>
        <option value="protein_id">Protein</option>
        <option value="product">Product</option>
      </select><br><br>
      <input type="search" name="sequenceID" placeholder="Search for"/>
      <button type="submit"> Search </button>
    </form>
    <% if (error) { %>
        <h1><br>Bad query, try again.</h1>
    <% } %>
  </section>
  <section>
    <form>
      <label for="ID">View on data for:</label><br>
      <input type="searchData" name="data" placeholder="Search for"/>
      <button type="submit"> Search </button>
    </form>
  </section>
  <section>
    <nav>
      <ul>
        <li style="text-align:right">
          <li onclick="saveFile()">Save</button>
        </li>
      </ul>
    </nav>
    <% if (find) { %> 
      <h1>Searching "<%= find.ScientificName %>" over 20.000 organisms</h1>
      <% let url = `https://ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=${find.TaxId}&lvl=3&lin=f&keep=1&srchmode=1&unlock` %>
      <div class="row">
        <a href=<%- url %> target=”_blank”>
          <h2 title="<%=find.Rank%>">
            <%= find.ScientificName %>
          </h2>
        </a>
        <% if (find.SubClasses.length > 0) { %>
          <h2>[<%= find.SubClasses.length %>]</h2>
        <% } %>
      </div>
      <ul>
        <% for( let i = 0; i < find.SubClasses.length; i++ ) { %>
          <% let sub1 = find.SubClasses[i] %>
          <% let url = `https://ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=${sub1.TaxId}&lvl=3&lin=f&keep=1&srchmode=1&unlock` %>

          <div class="row">
            <a href=<%- url %> target=”_blank”>
              <h3 title="<%=sub1.Rank%>">
                <%= sub1.ScientificName %>
              </h3>
            </a>
            <% if (sub1.SubClasses.length > 0) { %>
              <h3>[<%= sub1.SubClasses.length %>]</h3>
            <% } %>
          </div>
          <ul>
            <% for( let k = 0; k < sub1.SubClasses.length; k++ ) { %>
              <% let sub2 = sub1.SubClasses[k] %>
              <% let url = `https://ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=${sub2.TaxId}&lvl=3&lin=f&keep=1&srchmode=1&unlock` %>
              
              <div class="row">
                <a href=<%- url %> target=”_blank”>
                  <h4 title="<%=sub2.Rank%>">
                    <%= sub2.ScientificName %>
                  </h4>
                </a>
                <% if (sub2.SubClasses.length > 0) { %>
                  <h4>[<%= sub2.SubClasses.length %>]</h4>
                <% } %>
              </div>
              <ul>
                <% for( let j = 0; j < sub2.SubClasses.length; j++ ) { %>
                  <% let sub3 = sub2.SubClasses[j] %>
                  <% let url = `https://ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id=${sub3.TaxId}&lvl=3&lin=f&keep=1&srchmode=1&unlock` %>
                  
                  <div class="row">
                    <a href=<%- url %> target=”_blank”>
                      <h5 title="<%=sub3.Rank%>">
                        <%= sub3.ScientificName %>
                      </h5>
                    </a>
                  </div>
                <% } %>
              </ul>
            <% } %>
          </ul>
        <% } %>
      </ul>
    <%} %>
    <% if (nucleotide) { %> 
      <h1>Total amount: <%= nucleotide.length %> of 86146</h1>
      <%- JSON.stringify(nucleotide) %>
      <table id="table">
        <tr>
          <td>Organism</td>
          <td>Number of Organism</td>
          <td>Proteins</td>
          <td>Number of Proteins</td>
        </tr>
      
      
        <% for (let i = 0; i < nucleotide.length; i++) { %>
            <tr>
              <td><%=nucleotide[i].organism%></a></td>
              <td>#<%=nucleotide[i].organismCount%></td>
              <td><%-JSON.stringify(nucleotide[i].proteins)%></td>
              <td>#<%=nucleotide[i].proteinCount%></td>
            </tr>
        <%} %>
    <%} %>
  </section>
  <footer>
    <div id="banner" style="overflow:hidden; display: inline-block;">
      <div class="image">
        <img src="Stemma_sapienza.png" style="width:30%; height:30%">
      </div>
    </div>
    <p>Authors: Team di Biologia Computazionale 2023, Università La Sapienza<br>
    <a href="mailto:">bio@bio.it</a></p>
  </footer>
</body>
<script>
  let saveFile = async() => {
      let data = <%-  JSON.stringify(find) %>;
      console.log(data);
      await fetch("/save", {
        method: "POST",
        headers: {'Content-Type': 'application/json'}, 
        body: JSON.stringify(data)
      }).then(res => {
        console.log("Request complete! response:", res);
      });
  }
</script>
</html>
